
body{
	font-family: 'Oi', cursive;
	margin: 0px;
}

#background{
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("cara.gif");
}

h1{
	left: 50%;
	transform: translateX(-50%);
	margin: 0px;
	margin-top: 60px;
	position: fixed;
	z-index: 1000;
	font-size: 50px;

	  -webkit-text-fill-color: #a2804b; /* Will override color (regardless of order) */
	  -webkit-text-stroke-width: 1px;
	  -webkit-text-stroke-color: black;
}

a{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);

	z-index: 1000;

	font-size: 50px;


	bottom: 5vh;

}